:root{
    /* headSection properties */
    --bgColor: rgb(70, 70, 70);
    --typewriterSpeed: 3s;
    --typewriterCharacters: 13;
}

.headSection{
    margin: 0;
    font-family: 'Source Code Pro', sans-serif;       
    background: var(--bgColor);
    min-height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
}